@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,400&family=Playfair+Display:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}    

:root{
    --red: #d63a25;
    --bg-background: #F5FFFA ;
    --dark: #1e1c2a;
}

body{
    color: var(--dark);
    background: #F0F8FF ;
}

/*Estilização MENU */

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem gray;
    width: 100%;
    background: var(--bg-background);
    transition: all 0.5s;
    position: fixed;
}

.navigation .logo{
    color: var(--red);
    font-size: 1.7rem;
    font-weight: 600;
}

.logo span{
    color: var(--dark);

}

.navigation ul{
    display:flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a{
    color: var(--dark);
}

.navigation ul li a:hover{
    color: var(--red);
    cursor: pointer;
}

.menu{
    cursor: pointer;
    display: none;
}

.menu .bar{
    display: flex;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--red);
}

/*Estilização main page*/

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

.home-text{
    max-width: 37rem;
}

.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom:1rem;
}

.home-text .text-h1{
    font-size:4rem;
    margin-bottom: 1rem;
    line-height: 3.5rem;
}

.home-text p{
    margin-bottom: 5rem;
}

.home-btn{
    padding: 15px 45px;
    background: var(--red);
    color: var(--bg-background);
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.5s;
}

.home-btn:hover{
    background: var(--dark);
    border: solid var(--red) 2px;
}

.home-img img{
    width: 100%;
}

/* RESPONSIVIDADE */

@media (max-width: 785px){
    .navigation{
        padding: 18px 20px;
    }

    .menu{
        display:block;
    }

    .menu.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2){
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--bg-background);
        gap: -10px;
        transition: 0.3s;
    }

    .nav-menu.ativo{
        right:0;
    }

    .nav-item{
        margin: 16px 0;
    }

    /* MAIN */

    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }

    .home .text-h4{
        font-size: 15px;
    }

    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .home p{
        font-size: 15px;
    }

    .home-img img{
        width: 125%;
    }
}